{%extends 'base.html'%} {%block content%}
<div class="col-md-6 offset-md-3 mt-5">
  <form
    accept-charset="UTF-8"
    action="{{url_for('analysis')}}"
    method="POST"
    target="_blank"
    enctype="multipart/form-data"
  >
    <div class="form-group">
      <label for="exampleInputName">Full Name</label>
      <input
        type="text"
        name="fullname"
        class="form-control"
        id="exampleInputName"
        placeholder="Enter your name and surname"
        required="required"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" required="required">Email address</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <hr />
    <div class="form-group mt-3">
      <label class="mr-2">Upload your CV:</label>
      <input type="file" name="cv" />
    </div>
    <hr />
    <div class="form-group mt-3">
      <label class="mr-2">Upload the job Description:</label>
      <input type="file" name="jd" />
    </div>
    <hr />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{%endblock%}

