
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <title>Resume Ranking</title>
</head>
<body>
    <div class="col-md-6 offset-md-3 mt-5">
         <form accept-charset="UTF-8" action="{{url_for('analysis')}}" method="POST"  target="_blank">
           <div class="form-group">
             <label for="exampleInputName">Full Name</label>
             <input type="text" name="fullname" class="form-control" id="exampleInputName" placeholder="Enter your name and surname" required="required">
           </div>
           <div class="form-group">
             <label for="exampleInputEmail1" required="required">Email address</label>
             <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
           </div>
           <hr>
           <div class="form-group mt-3">
             <label class="mr-2">Upload your CV:</label>
             <input type="file" name="cv">
           </div>
           <hr>
           <div class="form-group mt-3">
            <label class="mr-2">Upload the job Description:</label>
            <input type="file" name="jd">
          </div>
          <hr>
           <button type="submit" class="btn btn-primary">Submit</button>
         </form>
     </div> 
</body>
</html>
   
 
